<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bootstrap</title>
        <meta name="description" content="This is an awesome Bootstap boiler plate, scaffolded by slush bootstrap">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- build:css styles/main.min.css -->
        <link rel="stylesheet" href="/assets/styles/main.css">
        <!-- endbuild -->

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
        <![endif]-->

        <!-- build:js scripts/modernizr.min.js -->
        <script src="/assets/lib/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body class="starter">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">my awesome app</a>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="starter-template">
            <h1>slush-bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            <hr/>
             <h3>Checkout the <code>dev/templates</code> folder for all Bootstrap Templates with Build Scripts</h3>
          </div>
          <div class="col-md-offset-3 col-md-6 text-center">
          <table class="table">
              <thead>
                <tr>
                  <th>Theme</th>
                  <th>URL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><h5>blog</h5></td>
                  <td><h5><a href="templates/blog">blog</a></h5></td>
                </tr>
                <tr>
                  <td><h5>carousel</h5></td>
                  <td><h5><a href="templates/carousel">carousel</a></h5></td>
                </tr>
                <tr>
                  <td><h5>cover</h5></td>
                  <td><h5><a href="templates/cover">cover</a></h5></td>
                </tr>
                <tr>
                  <td><h5>dashboard</h5></td>
                  <td><h5><a href="templates/dashboard">dashboard</a></h5></td>
                </tr>
                <tr>
                  <td><h5>equal-height-columns</h5></td>
                  <td><h5><a href="templates/equal-height-columns">equal-height-columns</a></h5></td>
                </tr>
                <tr>
                  <td><h5>grid</h5></td>
                  <td><h5><a href="templates/grid">grid</a></h5></td>
                </tr>
                <tr>
                  <td><h5>jumbotron</h5></td>
                  <td><h5><a href="templates/jumbotron">jumbotron</a></h5></td>
                </tr>
                <tr>
                  <td><h5>jumbotron-narrow</h5></td>
                  <td><h5><a href="templates/jumbotron-narrow">jumbotron-narrow</a></h5></td>
                </tr>
                <tr>
                  <td><h5>justified-nav</h5></td>
                  <td><h5><a href="templates/justified-nav">justified-nav</a></h5></td>
                </tr>
                <tr>
                  <td><h5>navbar</h5></td>
                  <td><h5><a href="templates/navbar">navbar</a></h5></td>
                </tr>
                <tr>
                  <td><h5>navbar-fixed-top</h5></td>
                  <td><h5><a href="templates/navbar-fixed-top">navbar-fixed-top</a></h5></td>
                </tr>
                <tr>
                  <td><h5>navbar-static-top</h5></td>
                  <td><h5><a href="templates/navbar-static-top">navbar-static-top</a></h5></td>
                </tr>
                <tr>
                  <td><h5>non-responsive</h5></td>
                  <td><h5><a href="templates/non-responsive">non-responsive</a></h5></td>
                </tr>
                <tr>
                  <td><h5>offcanvas</h5></td>
                  <td><h5><a href="templates/offcanvas">offcanvas</a></h5></td>
                </tr>
                <tr>
                  <td><h5>signin</h5></td>
                  <td><h5><a href="templates/signin">signin</a></h5></td>
                </tr>
                <tr>
                  <td><h5>sticky-footer</h5></td>
                  <td><h5><a href="templates/sticky-footer">sticky-footer</a></h5></td>
                </tr>
                <tr>
                  <td><h5>sticky-footer-navbar</h5></td>
                  <td><h5><a href="templates/sticky-footer-navbar">sticky-footer-navbar</a></h5></td>
                </tr>
                <tr>
                  <td><h5>theme</h5></td>
                  <td><h5><a href="templates/theme">theme</a></h5></td>
                </tr>
                <tr>
                  <td><h5>tooltip-viewport</h5></td>
                  <td><h5><a href="templates/tooltip-viewport">tooltip-viewport</a></h5></td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
        <!-- build:js scripts/vendor.min.js -->
        <script src="assets/lib/jquery/dist/jquery.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/bootstrap.min.js -->
        <script src="/assets/lib/bootstrap-stylus/js/affix.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/alert.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/dropdown.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/tooltip.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/modal.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/transition.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/button.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/popover.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/carousel.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/scrollspy.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/collapse.js"></script>
        <script src="/assets/lib/bootstrap-stylus/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/main.min.js -->
        <script src="/assets/scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>